body {
    margin: 0;
}
.landing-page-body {
    min-height: 100vh;
    background-image: url("./images/background-image-actual.jpg");
    background-position: center;
    background-size: cover;
}

.header-title {
    font-size: 200px;
    padding-left: 45px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: -30px;
}

@media screen and (max-width: 1100px) {
    .header-title {
        font-size: 150px;
    }
}
@media screen and (max-width: 768px) {
    .header-title {
        font-size: 100px;
    } 
}
@media screen and (max-width: 576px) {
    .header-title {
        font-size: 60px;
    } 
}

#header-p {
    margin-left: 57px;
    max-width: 50%;
    color: grey;
    font-size: 21px;
    font-family: 'Instrument Sans', sans-serif;
}
@media screen and (max-width: 600px) {
    #header-p {
        margin-top: 30px;
    } 
}

div.container {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    height: 6vh;
    max-width: 400px;
    width: 45%;
    margin-top: 50px;
    justify-content: left;
    float: left;
    margin-left: 57px;
}
@media screen and (max-width: 576px) {
    div.container {
        float:none;
        width: initial;
        display: flex;
        justify-content: center;   
        margin: 20px auto 0; 
    } 
    div.container form {
        margin: 0 57px
    }
}

.navbar {
    background-color: transparent;
}

#search-input-form {
    margin-top: 115px;
}

form.search-bar {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
    flex-direction: row;
    max-width: 400px;
    border-radius: 60px;
    padding: 10px 20px;
    gap: 20px;
    justify-content: center;
    width: 95%;
}

#submit-btn {
    background-color: transparent;
    border: 0;
}

.search-bar input {
    background: transparent;
    flex: 1;
    outline: none;
    padding: 10px 3px;
    width: 100%;
    border: 0;
    opacity: 90%;
    color: #F2B705;
}

::placeholder {
    color: #F2B705;
    font-size: 17px;
    opacity: 85%;
    font-family: 'Instrument Sans', sans-serif;
}


/* CSS FOR SEARCH RESULTS PAGE AND FAVORITES PAGE */
.navbar-search {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.search-page-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    padding: 0 20px;
}
.section {
    border-right: 2px solid black;
    padding: 0;
    padding-right: 20px;
}

#food-input, #cocktail-input {
        padding: 7px;
}

.button {
    background-color: #F2B705;
    border: none;
    border-radius: 25px;
    text-decoration-color: white;
    outline: #F2B705;
    height: 3vh;
}
.section .button {
    color: white;
    border-width: 2px;
    font-weight: 800px;
    font-family: 'Instrument Sans', sans-serif;
    font-size: large;
}

.input {
    border-radius: 25px;
}


.dinner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 650px) {
    .dinner-container {
        grid-template-columns: 1fr;
    }
}

#food-title {
    padding: 15px;
}

#cocktail-title {
    padding: 15px;
}

#food-title h2 {
    border: 2px #F2B705 solid;
    color: black;
    background-color: #F2B705;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 30px;
    height: 70px;
}

#cocktail-title h2 {
    border: 2px #F2B705 solid;
    color: black;
    background-color: #F2B705;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 30px;
    height: 70px;
}

#cocktail-container,
#recipe-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 15px;
    grid-template-rows: repeat(3, 500px);
    font-family: 'Instrument Sans', sans-serif;
}

@media screen and (max-width:1000px){
    #cocktail-container, #recipe-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 500px);
    }
}

#cocktail-container i {
    color: white;
}

#recipe-container i {
    color: white;
}

#cocktail-container>div,
#recipe-container div {
    position: relative;
    border: 2px solid grey;
    padding: 25px;
    border-radius: 25px;
}

#recipe-container img {
    height: calc(100% - 60px);
    padding-top: 10px;
    width: 100%;
    border-radius: 20px;
}

.img-hover:hover {
    transform: scale(1.03);
}

.dinner-container h3 {
    font-weight: bold;
    padding: 2px;
    font-size: 22px;
    text-align: center;
}

.dinner-container h4 {
    font-weight: bold;
    padding: 4px;
    font-size: 18px;
}

.dinner-container button {
    display: flex;
    float: right;
}

.recipe-card h2 {
    background-color: #F2B705;
    border-radius: 60px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 70%;
    font-size: 20px;      
}

.cocktail-card h2 {
    background-color: #F2B705;
    color: black;
    margin-bottom: 10px;
    border-radius: 60px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    opacity: 70%; 
    font-size: 20px;   
}

.cocktail-card h3 {
    text-transform: capitalize;
}

.cocktail-title {
    text-transform: capitalize;
}

.recipe-card img {
    height: calc(100% - 60px);
    border-radius: 20px;
    padding-top: 10px;
    width: 100%;
}